@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Cormorant+SC&family=Hind&family=Lato:wght@300&family=Nunito&family=Oswald&family=Playfair+Display&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #3B3B3B;
    padding: 0;
    margin: 0;
}

/* Header */

.color-line {
    width: 100%;
    height: 20px;
    background-color: #426E50;
}

.centerline {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.logo-text {
    display: inline-block;
    font-family: "Cormorant SC", sans-serif;
    font-size: 240%;
}

header a {
    text-decoration: none;
}

/* Navigation */

nav {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 140%;
    line-height: 250%;
    background-color: #FAC1AB;
    box-shadow: 0 2px 4px #3B3B3B;
    padding-bottom: 0.7%;
    z-index: 5;
}

nav a {
    padding: 0 2%;
}

nav a:hover {
    border-bottom: 4px solid #426E50;
    color: #000;
}

.active {
    border-bottom: 4px solid #426E50;
}

/* Logo */

.logo {
    width: 120px;
    position: absolute;
    margin: 1% 0 0 3%;
    z-index: 7;
}

/* main */

main {
    object-fit: cover;
    background-color: #fcece4;
    background: url(../images/webpimages/Background.webp) repeat center center;
    background-size: cover;
}

/*Top of Home Page */

/* Hero img */

.img-quote {
    display: flex;
}

.img-container {
    width: 100%;
}

.dark-overlay {
    width: 100%;
    height: 60%;
    background: #2c2c2c;
    overflow: hidden;
    transition: ease all 2s;
}

.hero-img {
    width: 100%;
    opacity: 0.3;
    margin-top: -15%;
}

/* Quote and line */

.quote-wrapper {
    max-width: 90%;
    margin: 0 0 0 0;
}

.quote {
    width: 50%;
    position: absolute;
    top: 100px;
    font-family: "Cormorant SC", sans-serif;
    font-size: 450%;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 12% 0 0 24%;
    z-index: 4;
}

.line {
    width: 70%;
    position: absolute;
    top: 100px;
    text-align: center;
    font-size: 200%;
    color: #fff;
    padding: 2%;
    margin: 18% 0 0 10%;
    z-index: 4;
}

/* Bottom of Home Page */

/* About section */

.about {
    width: 100%;
    margin: -15% 0 0 0;
}

/* About header logo */

.fancy-logo {
    width: 80%;
    text-align: center;
    margin-inline-start: auto;
}

.color-border {
    width: 30%;
    height: 75px;
    position: relative;
    background-color: #426E50;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    margin: 0 0 0 30%;
}

.second-logo {
    width: 30%;
    height: 75px;
    position: relative;
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    background-color: #fac1ab;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    margin: -40px 0 0 20%;
}

.second-logo h2 {
    font-family: "Cormorant SC", sans-serif;
    font-weight: 600;
    font-size: 180%;
    line-height: 240%;
}

/* About information */

.about-information {
    width: 97%;
    display: inline-block;
    margin: 0 0 0 0;
}

.about-information h3 {
    font-family: "Cormorant SC", sans-serif;
    font-size: 160%;
    font-weight: 600;
    padding-bottom: 3%;
}

/* About boxes */

.about-creator,
.about-why {
    display: inline-block;
    vertical-align: top;
}

.about-creator,
.about-why,
.what-happens {
    width: 43%;
    position: relative;
    text-align: center;
    font-size: 110%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    padding: 2%;
}

.about-creator {
    margin: 5% 0 0 3.5%;
}

.about-why {
    margin: 5% 0 0 2%;
}

.what-happens {
    margin: 5% 0 5% 28%;
}

.about-why a,
.what-happens a {
    text-decoration: none;
    font-weight: 600;
}

/* Footer */

footer {
    width: 100%;
    height: 60px;
    background-color: #3B3B3B;
    left: 0;
    bottom: 0;
}

/* social links */

.social-links {
    text-align: center;
    margin-right: 10%;
}

.social-links li {
    display: inline;
    padding-left: 14%;
}

.social-links i {
    font-size: 200%;
    color: #FAC1AB;
    padding-top: 14px;
}

.social-links i:hover {
    color: #426E50;
}

/* Top of Sticker page */

/* Sticker headline */

.library {
    width: 100%;
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 450%;
    color: #000;
    padding-top: 3%;
    margin-bottom: 6%;
}

/* Sticker page information box*/

.information-box {
    width: 25%;
    position: absolute;
    right: 0;
    top: 135px;
    font-size: 115%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px #3B3B3B;
    padding: 1.2%;
    margin: 1% 2% 0 0;
}

.head-line {
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 160%;
    font-weight: 600;
    margin: 0 20%;
}

/* Sticker boxes */

.sticker {
    width: 30%;
    height: 820px;
    font-size: 120%;
    color: #000;
    display: inline-grid;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    margin: 1% 0 1.5% 2.5%;
}

/* Sticker images */

.img-sticker {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Text information in sticker boxes*/

.head-liner {
    width: 98%;
    font-family: "Cormorant SC", sans-serif;
    font-size: 150%;
    font-weight: 600;
    text-align: center;
    padding: 0 2% 2% 2%;
}

.information {
    width: 90%;
    font-size: 105%;
    color: #000;
    padding: 0 2% 2% 2%;
    margin: 0 2% 2% 2%;
}

/* Sticker box button */

button {
    background: none;
    position: relative;
    object-fit: contain;
    border: none;
    border-radius: 10px;
    margin-right: 23.5%;
}

.store-btn {
    width: 30%;
    position: absolute;
    bottom: 0;
    font-size: 130%;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: #fac1ab;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
    padding: 1.5%;
    margin: 0 0 2% 0;
}

/* Contact page */

.contact-main {
    overflow: auto;
}

/* Headline and information box */

.contactUs {
    width: 100%;
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 450%;
    color: #000;
    padding-top: 3%;
}

.little-information {
    width: 30%;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0 0 5px #3B3B3B;
    float: right;
    padding: 1.5% 3%;
    margin: 10% 12% 0 0;
}

.little-information h2 {
    width: 100%;
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 280%;
    color: #000;
}

.little-information li {
    padding: 2%;
}

/* Form */

form {
    width: 25%;
    background-color: #fef7f3;
    border-radius: 10px;
    box-shadow: 0 0 5px #3B3B3B;
    padding: 1%;
    margin: 7% 0 10% 15%;
}

/* Form input*/

.input-wrapper {
    width: 100%;
    margin-top: 2%;
}

.input {
    width: 88.5%;
    height: 35px;
    border: 1px solid #3B3B3B;
    border-radius: 3px;
    padding: 0 3%;
    margin: 2%;
}

/* Form radio buttons */

.radio-wrapper {
    width: 100%;
    text-align: center;
    padding: 5% 0;
}

.radio {
    display: inline-block;
    margin: 0 0 0 0;
}

.custom,
.new,
.comment,
.other {
    margin-left: 2%;
}

/* Form textarea */

textarea {
    width: 91.5%;
    height: 140px;
    padding: 2%;
    margin-left: 2%;
}

/* Form button */

.btn {
    width: 25%;
    height: 40px;
    background-color: #426E50;
    color: #fff;
    font-size: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5% 0 4% 40%;
}

/* Top of Thank You Page */

/* Thank you note */

.thankYou {
    padding: 13% 0 1% 0;
}

.thanks-text {
    width: 100%;
    text-align: center;
    font-size: 150%;
    padding: 0 0 12.5% 0;
}

.thanks-text span {
    font-family: "Cormorant SC", sans-serif;
    font-size: 300%;
    color: #000;
}

/* The End Of Thank You Page The Response */

.response-wrapper {
    width: 100%;
    margin-bottom: 2%;
}

/* Image character */

.Chibi-character {
    width: 20%;
    margin: 0 auto;
}

/* Response boxes */

.response {
    width: 30%;
    height: 200px;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0 0 5px #3B3B3B;
    overflow: auto;
    padding: 1%;
    margin: 4%;
}

.response h2 {
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 230%;
    font-weight: 600;
    padding-bottom: 2%;
}

.response span {
    font-weight: 600;
}

.no-response {
    float: left;
}

.response-time {
    float: right;
}

.more-questions {
    margin: 2% auto;
}

/* Media Query */

/* For larger screen sizes from 1280px wide and down */

@media screen and (max-width: 1280px) {

    /* Header */

    .color-line {
        height: 15px;
    }

    .logo {
        margin-top: 0.8%;
    }

    /* Quote and line */

    .quote {
        font-size: 300%;
        margin-left: 25%;
    }

    .line {
        width: 60%;
        font-size: 120%;
        margin-left: 16%;
    }

    /* About */

    .color-border {
        width: 30%;
        margin-left: 30%;
    }

    .second-logo {
        width: 30%;
        margin-left: 20%;
    }

    /* Footer */

    footer {
        height: 50px;
    }

    /* Social links */

    .social-links i {
        padding-top: 9px;
    }

    /* Sticker page */

    /* Sticker page information box*/

    .information-box {
        width: 18%;
        height: 120px;
        overflow: auto;
        font-size: 100%;
        margin-right: 2%;
    }

    .head-line {
        font-size: 140%;
        margin: 0 15%;
    }

    /* Sticker boxes */

    .sticker {
        width: 45%;
        height: 770px;
        font-size: 120%;
        margin: 1% 0 1.5% 3%;
    }

    /* Text information in sticker boxes */

    .head-liner {
        font-size: 130%;
    }

    .information {
        width: 90%;
        font-size: 90%;
    }

    /* Sticker box button */

    .store-btn {
        font-size: 110%;
    }

    /* Contact page */

    /* Information box */

    .little-information {
        width: 40%;
        margin: 12% 5% 0 0;
    }

    .little-information h2 {
        font-size: 260%;
    }

    /* Form */

    form {
        width: 320px;
        margin-left: 9%;
    }

    /* Thank You Page */

    /* Thank you note */

    .thanks-text {
        width: 90%;
        padding: 0 5% 15% 5%;
    }

    /* The response */

    .response-wrapper h2 {
        font-size: 190%;
    }

}

/* For medium screen sizes from 992px wide and down */

@media screen and (max-width: 992px) {

    /* Header */

    .logo-text {
        font-size: 220%;
    }

    /* About section */

    .about {
        transition: ease all 2s;
    }

    /* About boxes */

    .about-creator,
    .about-why,
    .what-happens {
        width: 86%;
        font-size: 100%;
    }

    .about-creator {
        margin: 7% 0 0 6.5%;
    }

    .about-why {
        margin-left: 6.5%;
    }

    .what-happens {
        margin-left: 6.5%;
    }

    /* Sticker page */

    /* Sticker page and Contact page header */

    .header-front {
        font-size: 400%;
        padding-top: 3%;
    }

    .library {
        margin-bottom: 3%;
    }

    /* Sticker page information box */

    .information-box {
        width: 45%;
        position: static;
        float: none;
        font-size: 95%;
        margin: 0 0 2% 27%;
    }

    .head-line {
        font-size: 130%;
        margin: 0 20%;
    }

    /* Sticker boxes */

    .sticker {
        height: 660px;
        font-size: 110%;
        margin: 1.5% 0 0 3%;
    }

    /* Text information in sticker boxes */

    .head-liner {
        font-size: 140%;
    }

    .information {
        font-size: 90%;
    }

    /* Sticker box button */

    .store-btn {
        width: 35%;
        font-size: 100%;
    }

    /* Contact page */

    /* Contact page information box */

    .little-information {
        width: 60%;
        float: none;
        margin: 3% 0 0 17%;
    }

    .little-information h2 {
        font-size: 230%;
    }

    /* Form */

    form {
        margin: 5% 0 10% 33%;
    }

    /* Thank You Page */

    /* Thank you note */

    .thankYou {
        padding: 14% 0 1% 0;
    }

    /* Image character */

    .Chibi-character {
        width: 30%;
    }

    /* Response boxes */

    .response-wrapper {
        width: 100%;
        text-align: center;
    }

    .response-wrapper h2 {
        font-size: 190%;
    }

    .response {
        width: 90%;
        height: 160px;
        float: none;
    }

}

/* For small screen sizes from 748px wide and down */

@media screen and (max-width: 748px) {

    /* Header */

    .color-line {
        height: 10px;
    }

    .logo {
        display: none;
    }

    .logo-text {
        font-size: 190%;
    }

    nav {
        font-size: 110%;
    }

    /* Hero img */

    .dark-overlay {
        height: 80%;
    }

    .hero-img {
        margin-top: -10%;
    }

    /* Quote and line */

    .quote {
        width: 100%;
        font-size: 240%;
        margin: 11% 0 0 0;
    }

    .line {
        width: 80%;
        margin-left: 8%;
    }

    /* About section */

    .about {
        margin-top: 0%;
    }

    /* About header logo */

    .color-border {
        width: 40%;
    }

    .second-logo {
        width: 40%;
        margin-left: 15%;
    }

    /* Sticker page */

    /* Sticker page and Contact page header */

    .header-front {
        font-size: 360%;
        padding-top: 3%;
    }

    /* Sticker page information box */

    .information-box {
        width: 55%;
        font-size: 95%;
        margin: 1.5% 0 2% 22%;
    }

    .head-line {
        font-size: 130%;
        margin: 0 20%;
    }

    /* Sticker boxes */

    .sticker {
        width: 80%;
        height: 760px;
        position: static;
        font-size: 110%;
        margin: 4% 0 0 10%;
    }

    /* Text information in sticker boxes */

    .head-liner {
        width: 100%;
        font-size: 140%;
    }

    .information {
        font-size: 90%;
    }

    /* Contact page */

    /* Contact information box */

    .little-information {
        width: 80%;
        font-size: 100%;
        float: none;
        margin: 3% 0 0 7%;
    }

    .little-information li {
        list-style: none;
    }

    .little-information h2 {
        font-size: 210%;
    }

    /* Form */

    form {
        margin: 5% 0 10% 20%;
    }

    /* Thank You Page */

    /* Thank you note */

    .thankYou {
        padding: 17% 0 1% 0;
    }

    /* Image character */

    .Chibi-character {
        width: 40%;
    }

}

/* For small screen sizes from 548px wide and down */

@media screen and (max-width: 548px) {

    /* Header */

    .logo-text {
        font-size: 180%;
    }

    nav {
        font-size: 90%;
    }

    /* Hero img */

    .dark-overlay {
        height: 80%;
        margin-top: -2%;
        transition: none;
    }

    /* Quote and line */

    .quote {
        font-size: 160%;
        margin-top: 8%;
    }

    .line {
        width: 90%;
        font-size: 100%;
        margin-left: 4%;
    }

    /* About */

    /* About header logo */

    .color-border {
        width: 45%;
        margin: 0 0 0 25%;
    }

    .second-logo {
        width: 45%;
        font-size: 90%;
        line-height: 320%;
        margin-left: 10%;
    }

    /* About boxes */

    .about-information h3 {
        font-size: 150%;
    }

    .about-creator,
    .about-why,
    .what-happens {
        width: 86%;
        font-size: 90%;
        margin-left: 7%;
    }

    .about-why a,
    .what-happens a {
        text-decoration: none;
        font-weight: 600;
    }

    /* Footer */

    footer {
        height: 40px;
    }

    /* Social links */

    .social-links i {
        font-size: 150%;
        padding-top: 8px;
    }

    /* Sticker page */

    /* Sticker page and Contact page header */

    .header-front {
        font-size: 280%;
        padding-top: 3%;
    }

    /* Sticker page information box */

    .information-box {
        width: 65%;
        font-size: 95%;
        margin-left: 15%;
    }

    .head-line {
        font-size: 130%;
        text-align: center;
    }

    /* Sticker boxes */

    .sticker {
        width: 90%;
        height: 680px;
        position: static;
        top: 150px;
        font-size: 110%;
        margin: 4% 0 0 5%;
    }

    /* Text information in sticker boxes */

    .head-liner {
        font-size: 140%;
    }

    .information {
        font-size: 90%;
        height: 150px;
        top: 440px;
    }

    /* Sticker box button */

    .store-btn {
        margin-right: 25%;
    }

    /* Contact page */

    /* Contact information box */

    .little-information {
        width: 80%;
        font-size: 90%;
        float: none;
        margin: 3% 0 0 7%;
    }

    .little-information li {
        list-style: none;
        border-bottom: 1px solid #3B3B3B;
    }

    .little-information li:last-child {
        border-bottom: none;
    }

    .little-information h2 {
        font-size: 190%;
    }

    /* Form */

    form {
        width: 89%;
        margin: 9% 0 10% 5%;
    }

    .radio-wrapper {
        font-size: 87%;
        text-align: center;
    }

    /* Thank You Page */

    /* Thank you note */

    .thankYou {
        padding: 25% 0 1% 0;
    }

    .thanks-text {
        font-size: 100%;
        padding: 0 5% 27% 5%;
    }

    .thanks-text span {
        font-size: 250%;
    }

    /* Image character */

    .Chibi-character {
        width: 50%;
    }

    /* The Response */

    .response-wrapper {
        width: 100%;
        text-align: center;
    }

    .response-wrapper h2 {
        font-size: 150%;
    }

    .response-wrapper p {
        font-size: 90%;
    }

    .response {
        height: 160px;
    }

}