@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Cormorant+SC&family=Hind&family=Lato:wght@300&family=Nunito&family=Oswald&family=Playfair+Display&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #3B3B3B;
    padding: 0;
    margin: 0;
}

/* START OF THE HEADER */

.color-line {
    width: 100%;
    height: 20px;
    background-color: #426E50;
}

.centerline {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.logo-text {
    display: inline-block;
    font-family: "Cormorant SC", sans-serif;
    font-size: 240%;
}

.centerline .lunation, .centerline .design, .centerline img {display: none;}

header a {
    text-decoration: none;
}

nav {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 140%;
    line-height: 250%;
    background-color: #FAC1AB;
    box-shadow: 0 2px 4px #3B3B3B;
    padding-bottom: 0.7%;
    z-index: 5;
}

nav a {
    padding: 0 2%;
}

nav a:hover {
    border-bottom: 4px solid #426E50;
    color: #000;
}

.active {
    border-bottom: 4px solid #426E50;
}

/* THE LOGO IMAGE ON THE HEADER */

.logo {
    width: 120px;
    position: absolute;
    margin: 1% 0 0 3%;
    z-index: 7;
}

/* THE MAIN PART OF THE BODY */

main {
    object-fit: cover;
    background-color: #fcece4;
    background: url(../images/webpimages/Background.webp) repeat center center;
    background-size: cover;
}

/* START OF THE FIRST SECTION ON THE HOME PAGE (IMAGE QUOTE) */

.img-quote {
    display: flex;
}

.img-container {
    width: 100%;
}

.dark-overlay {
    width: 100%;
    height: 60%;
    background: #2c2c2c;
    overflow: hidden;
    transition: ease all 2s;
}

.hero-img {
    width: 100%;
    opacity: 0.3;
    margin-top: -15%;
}

.quote-wrapper {
    max-width: 90%;
    margin: 0 0 0 0;
}

.quote {
    width: 50%;
    position: absolute;
    top: 100px;
    font-family: "Cormorant SC", sans-serif;
    font-size: 450%;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 12% 0 0 24%;
    z-index: 4;
}

.line {
    width: 70%;
    position: absolute;
    top: 100px;
    text-align: center;
    font-size: 200%;
    color: #fff;
    padding: 2%;
    margin: 18% 0 0 10%;
    z-index: 4;
}

/* START OF THE SECOND SECTION ON THE HOME PAGE (ABOUT) */

.about {
    width: 100%;
    margin: -15% 0 0 0;
}

.fancy-logo {
    width: 80%;
    text-align: center;
    margin-inline-start: auto;
}

.color-border {
    width: 30%;
    height: 75px;
    position: relative;
    background-color: #426E50;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    margin: 0 0 0 30%;
}

.second-logo {
    width: 30%;
    height: 75px;
    position: relative;
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    background-color: #fac1ab;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    margin: -40px 0 0 20%;
}

.second-logo h2 {
    font-family: "Cormorant SC", sans-serif;
    font-weight: 600;
    font-size: 180%;
    line-height: 240%;
}

.about-information {
    width: 97%;
    display: inline-block;
    margin: 0 0 0 0;
}

.about-information h3 {
    font-family: "Cormorant SC", sans-serif;
    font-size: 160%;
    font-weight: 600;
    padding-bottom: 3%;
}

.about-creator,
.about-why {
    display: inline-block;
    vertical-align: top;
}

.about-creator,
.about-why,
.what-happens {
    width: 43%;
    position: relative;
    text-align: center;
    font-size: 110%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    padding: 2%;
}

.about-creator {
    margin: 5% 0 0 3.5%;
}

.about-why {
    margin: 5% 0 0 2%;
}

.what-happens {
    margin: 5% 0 5% 28%;
}

.about-why a,
.what-happens a {
    text-decoration: none;
    font-weight: 600;
}

/* START OF THE FOOTER */

footer {
    width: 100%;
    position: relative;
    background-color: #3B3B3B;
    left: 0;
    bottom: 0;
}

.footer-top-wrapper {
    width: 100%;
    text-align: center;
}

.footer-bottom-wrapper {
    text-align: center;
}

.copyright, .disclaimer {
    font-size: 80%;
    color: #FAC1AB;
}

.disclaimer {
    text-transform: uppercase;
}

.social-links {
    display: inline-flex;
}

.social-links li {
    list-style: none;
    padding: 0 15% 0 15%;
}

.social-links:first-child {
    justify-content: center;
}

.social-links i {
    font-size: 300%;
    color: #FAC1AB;
    margin-top: 28px;
}

.social-links i:hover {
    color: #426E50;
}

.footer-logo, .header-logo{
    display: flex;
}

.footer-logo img {
    width: 100px;
    padding: 10px 7px 10px 0;
}

.lunation, .design {
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 120%;
    color: #fff;
    font-weight: 400;
    padding-top: 40px;
}

/* START OF THE SECTION ON THE STICKER PAGE (STICKER BOXES) */

.library {
    width: 100%;
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 450%;
    color: #000;
    padding-top: 3%;
    margin-bottom: 3%;
}

.sticker {
    width: 30%;
    height: 820px;
    font-size: 120%;
    color: #000;
    display: inline-grid;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 2px solid #3B3B3B;
    border-radius: 12px;
    box-shadow: 0px 0px 5px;
    margin: 1% 0 1.5% 2.3%;
}

.img-sticker {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.head-liner {
    width: 98%;
    font-family: "Cormorant SC", sans-serif;
    font-size: 150%;
    font-weight: 600;
    text-align: center;
    padding: 0 2% 2% 2%;
}

.information {
    width: 90%;
    font-size: 105%;
    color: #000;
    padding: 0 2% 2% 2%;
    margin: 0 2% 2% 2%;
}

button {
    background: none;
    position: relative;
    object-fit: contain;
    border: none;
    border-radius: 10px;
    margin-right: 30%;
}

.store-btn {
    width: 40%;
    position: absolute;
    bottom: 0;
    font-size: 130%;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: #fac1ab;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
    padding: 1.5%;
    margin: 0 0 2% 0;
}

/* START OF THE CONTACT PAGE */

.contact-main {
    overflow: auto;
}

.contactUs {
    width: 100%;
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 450%;
    color: #000;
    padding-top: 3%;
}

.little-information {
    width: 30%;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0 0 5px #3B3B3B;
    float: right;
    padding: 1.5% 3%;
    margin: 10% 12% 0 0;
}

.little-information h2 {
    width: 100%;
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 280%;
    color: #000;
}

.little-information li {
    list-style: none;
    padding: 2%;
}

/* START OF THE FORM ON THE CONTACT PAGE */

form {
    width: 25%;
    background-color: #fef7f3;
    border-radius: 10px;
    box-shadow: 0 0 5px #3B3B3B;
    padding: 1%;
    margin: 7% 0 10% 15%;
}

.input-wrapper {
    width: 100%;
    margin-top: 2%;
}

.input {
    width: 88.5%;
    height: 35px;
    border: 1px solid #3B3B3B;
    border-radius: 3px;
    padding: 0 3%;
    margin: 2%;
}

.radio-wrapper {
    width: 100%;
    text-align: center;
    padding: 5% 0;
}

.radio {
    display: inline-block;
    margin: 0 0 0 0;
}

.custom,
.new,
.comment,
.other {
    margin-left: 2%;
}

textarea {
    width: 91.5%;
    height: 140px;
    min-width: 91.5%;
    max-width: 91.5%;
    min-height: 50px;
    max-height: 280px;
    padding: 2%;
    margin-left: 2%;
}

.btn {
    width: 25%;
    height: 40px;
    background-color: #426E50;
    color: #fff;
    font-size: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5% 0 4% 40%;
}

/* START OF THE FIRST SECTION ON THE THANKS PAGE (THANK YOU TEXT) */

.thankYou {
    padding: 13% 0 1% 0;
}

.thanks-text {
    width: 100%;
    text-align: center;
    font-size: 150%;
    padding: 0 0 12.5% 0;
}

.thanks-text span {
    font-family: "Cormorant SC", sans-serif;
    font-size: 300%;
    color: #000;
}

/* START OF THE SECOND SECTION ON THE THANKS PAGE (RESPONSE) */

.response-wrapper {
    width: 100%;
    margin-bottom: 2%;
}

.Chibi-character {
    width: 20%;
    margin: 0 auto;
}

.response {
    width: 30%;
    height: 200px;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0 0 5px #3B3B3B;
    overflow: auto;
    padding: 1%;
    margin: 4%;
}

.response h2 {
    text-align: center;
    font-family: "Cormorant SC", sans-serif;
    font-size: 230%;
    font-weight: 600;
    padding-bottom: 2%;
}

.response span {
    font-weight: 600;
}

.no-response {
    float: left;
}

.response-time {
    float: right;
}

.more-questions {
    margin: 2% auto;
}

/* MEDIA QUERIES */

/* For larger screen sizes from 1280px wide and down */

@media screen and (max-width: 1280px) {

    /* START OF HEADER */

    .color-line {
        height: 15px;
    }

    .logo {
        margin-top: 0.8%;
    }

    /* START OF THE HOME PAGE */

    .quote {
        font-size: 300%;
        margin-left: 25%;
    }

    .line {
        width: 60%;
        font-size: 120%;
        margin-left: 16%;
    }

    .color-border {
        width: 30%;
        margin-left: 30%;
    }

    .second-logo {
        width: 30%;
        margin-left: 20%;
    }

    /* START OF FOOTER */

    .social-links li {
        list-style: none;
        padding: 0 10% 0 10%;
    }

    /* START OF THE STICKER PAGE */

    .sticker {
        width: 45%;
        height: 770px;
        font-size: 120%;
        margin: 1% 0 1.5% 3%;
    }

    .head-liner {
        font-size: 130%;
    }

    .information {
        width: 90%;
        font-size: 90%;
    }

    button {
        margin-right: 25%;
    }

    .store-btn {
        width: 30%;
        font-size: 110%;
    }

    /* START OF THE CONTACT PAGE */

    .little-information {
        width: 40%;
        margin: 12% 5% 0 0;
    }

    .little-information h2 {
        font-size: 260%;
    }

    form {
        width: 320px;
        margin-left: 9%;
    }

    /* START OF THE THANKS PAGE */

    .thanks-text {
        width: 90%;
        padding: 0 5% 15% 5%;
    }

    .response-wrapper h2 {
        font-size: 190%;
    }
}

/* For medium screen sizes from 992px wide and down */

@media screen and (max-width: 992px) {

    /* START OF HEADER */

    .logo-text {
        font-size: 220%;
    }

    /* START OF THE HOME PAGE */

    .about {
        transition: ease all 2s;
    }

    .about-creator,
    .about-why,
    .what-happens {
        width: 86%;
        font-size: 100%;
    }

    .about-creator {
        margin: 7% 0 0 6.5%;
    }

    .about-why {
        margin-left: 6.5%;
    }

    .what-happens {
        margin-left: 6.5%;
    }

    /* START OF FOOTER */

    .footer-top-wrapper {
        width: 100%;
    }

    .footer-logo {display: none;}
    
    .social-links {
        justify-content: center;
    }
    
    .social-links li {
        margin: 0 25%;
    }

    .middle-list-sibling {display: none;}
    
    .social-links i {
        margin: 15px 0 10px 0;
    }

    .copyright, .disclaimer {
        font-size: 60%;
    }

    /* START OF THE STICKER PAGE */

    .header-front {
        font-size: 400%;
        padding-top: 3%;
    }

    .library {
        margin-bottom: 3%;
    }

    .sticker {
        height: 660px;
        font-size: 110%;
        margin: 1.5% 0 0 3%;
    }

    .Seventh {
        margin-bottom: 1.5%;
    }

    .head-liner {
        font-size: 140%;
    }

    .information {
        font-size: 90%;
    }

    button {
        margin-right: 25%;
    }

    .store-btn {
        width: 35%;
        font-size: 100%;
    }

    /* START OF THE CONTACT PAGE */

    .little-information {
        width: 60%;
        float: none;
        margin: 3% 0 0 17%;
    }

    .little-information h2 {
        font-size: 230%;
    }

    form {
        margin: 5% 0 10% 33%;
    }

    /* START OF THE THANKS PAGE */

    .thankYou {
        padding: 14% 0 1% 0;
    }

    .Chibi-character {
        width: 30%;
    }

    .response-wrapper {
        width: 100%;
        text-align: center;
    }

    .response-wrapper h2 {
        font-size: 190%;
    }

    .response {
        width: 90%;
        height: 160px;
        float: none;
    }
}

/* For small screen sizes from 748px wide and down */

@media screen and (max-width: 748px) {

    /* START OF HEADER */

    .color-line {
        height: 10px;
    }

    .logo {
        display: none;
    }

    .logo-text {
        font-size: 190%;
    }

    .logo-text {display: none;}
    
    .centerline .lunation, .centerline .design, .centerline img {
        display: block;
        position: relative;
        margin-bottom: 10%;
        z-index: 6;
    }

    .centerline {
        display: flex;
        justify-content: center;
        height: 43px;
    }

    .centerline img {
        width: 40px;
        height: 34px;
        padding: 0 5px 0 3px;
        margin-top: 4px;
    }

    .centerline .lunation, .centerline .design {
        text-align: center;
        font-family: "Cormorant SC", sans-serif;
        font-size: 180%;
        color: #000;
        font-weight: 400;
        padding-top: 2px;
    }    

    nav {
        font-size: 110%;
    }

    /* START OF THE HOME PAGE */

    .dark-overlay {
        height: 80%;
    }

    .hero-img {
        margin-top: -10%;
    }

    .quote {
        width: 100%;
        font-size: 240%;
        margin: 11% 0 0 0;
    }

    .line {
        width: 80%;
        margin-left: 8%;
    }

    .about {
        margin-top: 0%;
    }

    .color-border {
        width: 40%;
    }

    .second-logo {
        width: 40%;
        margin-left: 15%;
    }

    /* START OF FOOTER */

    .social-links i {
        font-size: 250%;
    }

    /* START OF THE STICKER PAGE */

    .header-front {
        font-size: 360%;
        padding-top: 3%;
    }

    .sticker {
        width: 80%;
        height: 760px;
        position: static;
        font-size: 110%;
        margin: 4% 0 0 10%;
    }

    .Seventh {
        margin-bottom: 4%;
    }

    .head-liner {
        width: 100%;
        font-size: 140%;
    }

    .information {
        font-size: 90%;
    }

    button {
        margin-right: 26%;
    }

    /* START OF THE CONTACT PAGE */

    .little-information {
        width: 80%;
        font-size: 100%;
        float: none;
        margin: 3% 0 0 7%;
    }

    .little-information h2 {
        font-size: 210%;
    }

    form {
        margin: 5% 0 10% 20%;
    }

    /* START OF THE THANKS PAGE */

    .thankYou {
        padding: 17% 0 1% 0;
    }

    .Chibi-character {
        width: 40%;
    }
}

/* For small screen sizes from 548px wide and down */

@media screen and (max-width: 548px) {

    /* START OF HEADER */

    .logo-text {
        font-size: 180%;
    }

    nav {
        font-size: 90%;
    }

    /* START OF THE HOME PAGE */

    .dark-overlay {
        height: 80%;
        margin-top: -2%;
        transition: none;
    }

    .quote {
        font-size: 160%;
        margin-top: 8%;
    }

    .line {
        width: 90%;
        font-size: 100%;
        margin-left: 4%;
    }

    .color-border {
        width: 45%;
        margin: 0 0 0 25%;
    }

    .second-logo {
        width: 45%;
        font-size: 90%;
        line-height: 320%;
        margin-left: 10%;
    }

    .about-information h3 {
        font-size: 150%;
    }

    .about-creator,
    .about-why,
    .what-happens {
        width: 86%;
        font-size: 90%;
        margin-left: 7%;
    }

    .about-why a,
    .what-happens a {
        text-decoration: none;
        font-weight: 600;
    }

    /* START OF FOOTER */

    .social-links li {
        margin: 0 12%;
    }
    
    .social-links i {
        font-size: 170%;
    }

    .disclaimer {
        font-size: 40%;
    }

    /* START OF THE STICKER PAGE */

    .header-front {
        font-size: 280%;
        padding-top: 3%;
    }

    .sticker {
        width: 90%;
        height: 680px;
        position: static;
        top: 150px;
        font-size: 110%;
        margin: 4% 0 0 5%;
    }

    .Seventh {
        margin-bottom: 3.5%;
    }

    .head-liner {
        font-size: 140%;
    }

    .information {
        font-size: 90%;
        height: 150px;
        top: 440px;
    }

    button {
        margin-right: 26%;
    }

    /* START OF THE CONTACT PAGE */

    .little-information {
        width: 80%;
        font-size: 90%;
        float: none;
        margin: 3% 0 0 7%;
    }

    .little-information li {
        list-style: none;
        border-bottom: 1px solid #3B3B3B;
    }

    .little-information li:last-child {
        border-bottom: none;
    }

    .little-information h2 {
        font-size: 190%;
    }

    form {
        width: 89%;
        margin: 9% 0 10% 5%;
    }

    .radio-wrapper {
        font-size: 87%;
        text-align: center;
    }

    /* START OF THE THANKS PAGE */

    .thankYou {
        padding: 25% 0 1% 0;
    }

    .thanks-text {
        font-size: 100%;
        padding: 0 5% 27% 5%;
    }

    .thanks-text span {
        font-size: 250%;
    }

    .Chibi-character {
        width: 50%;
    }

    .response-wrapper {
        width: 100%;
        text-align: center;
    }

    .response-wrapper h2 {
        font-size: 150%;
    }

    .response-wrapper p {
        font-size: 90%;
    }

    .response {
        height: 160px;
    }
}