@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Cormorant+SC&family=Hind&family=Lato:wght@300&family=Nunito&family=Oswald&family=Playfair+Display&display=swap');  

* {
    font-family: 'Nunito', sans-serif;  
    font-weight: 400;  
    color: #3B3B3B;  
    padding: 0;  
    margin: 0;  
}